---
layout: home
title: Home
intro:
  title: Optimale Performance durch intelligente Algorithmen.
  subtitle: Nutzen Sie die Power von Data Science um Ihre Wertschöpfung zu steigern.
---
<section class="services" id="services" role="region" aria-label="Services">
  <div class="section-overlay-layer">
    <div class="container">
      <div class="section-header">
        <h2 class="dark-text">Neue Förderung für KI-Projekte</h2>
        <div class="colored-line"></div>
        <div class="sub-heading">
          Mit 2023 startet das <a href="https://www.aws.at/" target="_blank">Austria Wirtschaftsservice</a> (aws) eine neue Förderung: Die "aws Digitalisierung - AI Unternehmen & Wachstum"
          fördert die Umsetzung eines ersten KI-Projekts in einem Unternehmen mit bis zu 15.000 Euro. Die Details zur Förderung werden aktuell 
          ausgearbeitet und stehen mit Beginn des neuen Jahres fest. Buchen Sie Ihren Termin bei unserem <a href="https://www.itg-salzburg.at/veranstaltung/foerdersprechtag-1093" target="_blank">förderSPRECHTAG</a>, 
          um sich über diese Förderung zu informieren!
        </div>
      </div>
    </div>
  </div>
</section>
<section class="services" id="services" role="region" aria-label="Services">
  <div class="section-overlay-layer">
    <div class="container">
      <div class="section-header">
        <h2 class="dark-text">Unsere Services</h2>
        <div class="colored-line"></div>
        <div class="sub-heading">
          Als Data Science Dienstleister helfen wir überall wo Daten und Entscheidungen im Spiel sind. Unsere Services können flexibel
          in Ihre bestehende Infrastruktur eingebunden werden. Egal ob als hoch-verfügbare Webschnittstelle (API), eigene Docker-Container
          in Ihrer Infrastruktur oder auch als individuelle Weblösung.
        </div>
      </div>
      <div id="our_services_wrap" class="services-wrap">
        <div class="service-box">
          <div class="single-service border-bottom-hover">
            <div class="service-icon colored-text">
              <i class="fa fa-cogs"></i>
            </div>
            <h3 class="colored-text">Intelligente Algorithmen</h3>
            <p>Machine Learning und statistische Verfahren bieten eine Vielzahl an Möglichkeiten um Ihre digitalen Prozesse
              und Entscheidungsabläufe zu optimieren. Wir sind Spezialisten in der Entwicklung individueller Algorithmen,
              um Ihre Wertschöpfung aufs nächste Level zu heben.</p>
          </div>
        </div>
        <div class="service-box">
          <div class="single-service border-bottom-hover">
            <div class="service-icon colored-text">
              <i class="fa fa-bar-chart-o"></i>
            </div>
            <h3 class="colored-text">Komplexe Datenanalysen</h3>
            <p>Um aus Daten wertvolle Information zu generieren bedarf es mehr als ein paar Grafiken. Erst durch intelligente
              Verflechtung und Mustererkennung können Sie die Zusammenhänge erkennen und damit faktenbasierte Entscheidungen
              treffen.
            </p>
          </div>
        </div>
        <div class="service-box">
          <div class="single-service border-bottom-hover">
            <div class="service-icon colored-text">
              <i class="fa fa-globe"></i>
            </div>
            <h3 class="colored-text">Technologieberatung</h3>
            <p>Im Big Data Umfeld werden täglich neue Werkzeuge entwickelt um die steigendenen Datenmengen effizient zu bewerkstelligen.
              Damit Sie für Ihre strategischen Ziele und daraus abgeleiteten Anwendungsfälle die richtige Toolbox zur Hand
              haben, beraten wir Sie gerne.</p>
          </div>
        </div>
        <div class="service-box">
          <div class="single-service border-bottom-hover">
            <div class="service-icon colored-text">
              <i class="fa fa-code"></i>
            </div>
            <h3 class="colored-text">Software-Entwicklung</h3>
            <p>Wir bieten ein breites Spektrum an Programmierungsarbeiten. Von webbasierten Lösungen, 
              um als Kunde selbst Data Science Analysen zu erstellen bis zur Stand-Alone Applikation. 
              Front- und Backend aus einem Guss - damit vervollständigen wir unser Full-Service-Portfolio.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="brief text-left brief-design-one brief-left" id="story" role="region" aria-label="About">
  <div class="section-overlay-layer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 content-section brief-content-one">
          <h2 class="text-left dark-text">Unsere Mission</h2>
          <div class="colored-line-left"></div>
          <div class="brief-content-text">
            Als Data Science Dienstleister ist es unsere Mission die Wertschöpfung von Unternehmen durch den Einsatz von
            intelligenten Machine Learning Algorithmen und analytischen Verfahren zur vollen Entfaltung zu bringen. <br>
            <br>
            In Zusammenarbeit mit unseren Partnern entwickeln wir maßgeschneiderte Data Science Lösungen, welche unsere
            Kunden bei der Optimierung ihrer digitalen Geschäftsprozesse unterstützen. Wir setzen dabei auf die Integration
            und Nutzung vorhandener Daten in Kombination mit Artificial Intelligence bzw. Machine Learning Algorithmen,
            sowie analytischen Verfahren, um relevante Kenngrößen zu steigern. Im Zuge dessen ist die Verarbeitung von
            fremden Daten für uns ein Privileg und wird auch als solches behandelt. Schrittweise können wir so erreichen,
            dass Prozesse automatisiert, intelligenter gesteuert und menschliche Intervention reduziert werden. <br>
            <br>
             Durch nachhaltige, effiziente Lösungen geben wir das in uns gesteckte Vertrauen wieder zurück.
          </div>
          <div class="brief-content-text">

          </div>
          <div class="grid">
            <a href="https://www.dasweltauto.at/" target="_blank"><img src="/assets/images/customers/VW_DasWeltAuto_4C_S.png"></a>
            <a href="https://www.porsche-holding.com" target="_blank"><img src="/assets/images/customers/group_it---grey_mint---landscape.png"></a>
            <a href="https://www.salzburg-ag.at/" target="_blank"><img src="/assets/images/customers/SalzburgAG_Logo_ohneClaim_RGB_150dpi_RZ.jpg"></a>
            <a href="https://www.mobidrome.com/" target="_blank"><img src="/assets/images/customers/Mobidrome-Logo-Color.jpg"></a>
            <a href="www.liebherr.com/de" target="_blank"><img src="/assets/images/customers/Liebherr.PNG"></a>
            <a href="https://www.hogast.at/" target="_blank"><img src="/assets/images/customers/Hogast.PNG"></a>
            <a href="https://flexpowerhub.de/" target="_blank"><img src="/assets/images/customers/FlexPowerHub.png"></a>
            <a href="https://www.mechatronik-austria.at/" target="_blank"><img src="/assets/images/customers/Mechatronik-Austria.png"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="team" id="team" role="region" aria-label="Team" style="background-image:url({{ "/assets/images/team.jpg" | relative_url }});">
  <div class="section-overlay-layer">
    <div class="container">
      <div class="section-header">
        <h2 class="dark-text">Unser Team</h2>
        <div class="colored-line"></div>
        <!-- <div class="sub-heading">
          Der Kern von cognify besteht aktuell aus fünf Daten und Machine Learning Freaks, einem kaufmännischen Geschäftsführer und wird durch ein flexibles Netzwerk an
          Spezialisten komplettiert.</div>-->
      </div>
      <div class="row team-member-wrap">
        {% for member in site.data.team %}
        <div class="col-md-4 team-member-box">
          <div class="team-member border-bottom-hover">
            <div class="member-pic">
              <img src="{{ "/assets/images/team/" | relative_url }}{{ member.name | slugify }}.jpg" alt="{{ member.name }}">
            </div>
            <div class="member-details">
              <div class="member-details-inner">
                <h5 class="colored-text">{{ member.name }}</h5>
                <div class="small-text jobtitle"><p>{{ member.jobtitle }}</p></div>
                {% if member.email %}
                <div class="small-text email"><a href="mailto:{{member.email}}">✉ {{ member.email }}</a></div>
                {% endif %}
                {% if member.phone %}
                <div class="small-text phone"><a href="tel:{{member.phone}}">✆ {{ member.phone }}</a></div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row team-foto">
        <img src="/assets/images/team/team.jpg">
      </div>
      <div class="row">
        {% for video in site.data.videos %}
        <div class="col-md-6 col-sm-12">
          <div class="thumbnail">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe  src="{{"https://www.youtube-nocookie.com/embed/" | append: video.videoId}}?controls=2&modestbranding=1&fs=0&rel=0&showinfo=0" title="YouTube video player"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="caption">
              <div>
                <h3>{{video.name}}</h3>
                <p>„{{video.description}}“</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
</section>
<section class="brief text-left brief-design-one brief-left" id="jobs" role="region" aria-label="Jobs">
  <div class="section-overlay-layer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 content-section brief-content-one">
          <h2 class="text-left dark-text">Jobs</h2>
          <div class="colored-line-left"></div>
          <div class="brief-content-text">
            <div id="join-widget">
              <script
                defer
                type="text/javascript"
                data-mount-in="#join-widget"
                src="https://join.com/api/widget/bundle/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzZXR0aW5ncyI6eyJzaG93Q2F0ZWdvcnlGaWx0ZXIiOnRydWUsInNob3dMb2NhdGlvbkZpbHRlciI6dHJ1ZSwic2hvd0VtcGxveW1lbnRUeXBlRmlsdGVyIjp0cnVlLCJsYW5ndWFnZSI6ImRlIiwiam9ic1BlclBhZ2UiOjI1fSwiam9icyI6e30sImRlc2lnbiI6eyJzaG93TG9nbyI6dHJ1ZSwic2hvd0xvY2F0aW9uIjp0cnVlLCJzaG93RW1wbG95bWVudFR5cGUiOnRydWUsInNob3dDYXRlZ29yeSI6dHJ1ZSwiY29sb3JzIjp7IndpZGdldCI6eyJiYWNrZ3JvdW5kIjoiI0ZGRkZGRiIsImZpbHRlckJvcmRlciI6IiNEMEQ0REEiLCJwYWdpbmF0aW9uIjoiIzJBNzNGRiJ9LCJqb2JDYXJkIjp7InNoYWRvdyI6IiNEMEQ0REEiLCJiYWNrZ3JvdW5kIjoiI0ZGRkZGRiIsInByaW1hcnlUZXh0IjoiIzM2M0Y0QSIsInNlY29uZGFyeVRleHQiOiIjNUY2ODc1In19fSwidmVyc2lvbiI6MiwiY29tcGFueVB1YmxpY0lkIjoiYmYwNDg4OWZkYWNjMWRiNTE4OGEwN2NkYTA0Njk3YjMiLCJpYXQiOjE2NDQyMjc4MDUsImp0aSI6ImE4NGIyODY3LWJmNzAtNDFkYS1hNzI0LTc5NTdhMjE3YWY2NiJ9.HEAnMQp1Tk18xJ9oGgZs8fcBgEiUO9XFvP4N23WRV1w"
              ></script>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- <section class="brief text-left brief-design-one brief-left" id="customer" role="region" aria-label="About">
  <div class="section-overlay-layer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 content-section brief-content-one">
          <h2 class="text-left dark-text">Unsere Kunden</h2>
          <div class="colored-line-left"></div>
            <div class="brief-content-text">
            </div>
            <div class="grid">
              <a href="https://www.dasweltauto.at/"><img src="/assets/images/customers/VW_DasWeltAuto_4C_S.png"></a>
              <a href="https://www.mobidrome.com/"><img src="/assets/images/customers/Mobidrome-Logo-Color.jpg"></a>
              <a href="https://www.salzburg-ag.at/"><img src="/assets/images/customers/SalzburgAG_Logo_ohneClaim_RGB_150dpi_RZ.jpg"></a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
