.single-service h3 {
  color: #0d3c55;
  margin-bottom: 15px;
  padding-top: 5px;
}

.dark-text {
  color: #0d3c55;
}

a {
  color: #0d3c55;
}

a:hover {
  color: #0d3c55;
}

.team {
  .member-details-inner {
    padding-top: 15px;
  }

  .small-text {
    &.email,
    &.phone {
      line-height: 20px;

      a {
        color: #ffffff;
      }
    }
  }
}
